{% extends 'todoapp_base.html' %}
{% load static %}
{% block title %}Add a Task{% endblock %}
{% block content %}
    <div class="todolist">
        <h1>Add a Task</h1>
        <form action="{% url 'todoapp:add' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Add a Task</legend>
                <p>
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" />
                </p>
                <p>
                    <label for="description">Description:</label>
                    <textarea name="description" id="description" rows="5" cols="50">
                    </textarea>
                </p>
            </fieldset>
            <input type="submit" value="Add" />
        </form>
    </div>
{% endblock %}